[Unit]
Description=Run backup-utils on schedule

[Timer]
OnCalendar=*-*-* 04:00:00
Persistent=true
RandomizedDelaySec=30m
Unit=backup.service

[Install]
WantedBy=timers.target
